AiNieeGUI原版/
uv.lock
__pycache__/
*.pyc
github版本/

# Ignore personal config and profiles
Resource/config.json
Resource/profiles/
Resource/queue_tasks.json

# WebServer
!Tools/WebServer/node_modules/
!Tools/WebServer/components/
!Tools/WebServer/pages/
!Tools/WebServer/contexts/
!Tools/WebServer/services/
!Tools/WebServer/App.tsx
!Tools/WebServer/constants.ts
!Tools/WebServer/types.ts
Tools/WebServer/dist/



# Personal and Temporary files

Tools/前端数据备份/

ainiee_cli - 副本*.py

commit_msg.txt

output/

update/

updatetemp/

temp_task_logic.py

update_i18n.py

.env
bfg-1.15.0.jar
bfg.jar
Resource/queue_operations.log
Resource/queue_operations.log
Resource/queue_operations.log
/Tools/WebServer/dist
*.js
/Tools/WebServer/dist
Tools/WebServer/dist/index.html
Tools/WebServer/dist/assets/index-KrfumMBl.css
